<h1><%= user.name %></h1>

<h3>Posts</h3>

<% user.posts.forEach(post => { %>
    <%= post.content %><br>
    <form action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Post">
    </form>
<% }) %>

<form action="/users/<%= user._id %>/posts" method="POST">
    <textarea name="content" cols="30" rows="10"></textarea>
    <label for="content"></label>
    <select name="category">
        <option value="Nature">Nature</option>
        <option value="Happy">Happy</option>
        <option value="Funny">Funny</option>
    </select>
    <button name="id" value="<%= user._id %>">
        New Post
    </button>
</form>